<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>scale-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>
          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
  </context-param>

  <filter>
    <filter-name>CookieFilter</filter-name>
    <filter-class>com.acmeair.web.RESTCookieSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/rest/api/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/api/*</url-pattern>
  </servlet-mapping>
  <resource-env-ref>
    <resource-env-ref-name>mongo/acmeair</resource-env-ref-name>
    <resource-env-ref-type>com.mongodb.DB</resource-env-ref-type>
  </resource-env-ref>
</web-app>
